*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #080710;
}

.circles{
    width: 26.875rem;
    height: 30rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;  
}

.circle{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    position: absolute;
}

.circle1{
    background: linear-gradient(#1845ad, #23a2f6);
    left: -5rem;
    top: -5rem;
}

.circle2{
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -1.875rem;
    bottom: -5rem;
}

form{
    height: 32.5rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2.5rem rgba(8, 7, 16, 0.6);
    padding: 3.125rem 2.188rem;
}

form *{
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    letter-spacing: 0.031rem;
    border: none;
    outline: none;
}

h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
}

label{
    display: block;
    margin-top: 1.875rem;
    font-size: 1rem;
    font-weight: 500;
}

input{
    display: block;
    height: 2.125rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 0.188rem;
    padding: 0 0.625rem;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}

.loginbtn{
    margin-top: 3.125rem;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 0.838rem 0;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0.313rem;
    cursor: pointer;
}

.socialcontact{
    margin-top: 1.875rem;
    display: flex; 
}

.socialbtn{
    width: 9.375rem;
    border-radius: 0.188rem;
    padding: 0.313rem 0.625rem 0.625rem 0.313rem;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
}

.google{
    margin-right: 40px;
}

.socialbtn:hover{
    background-color: rgba(255, 255, 255, 0.47);
}

.fab{
    margin-right: 0.25rem;
}