*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.currencyConverterContainer{
  height: 100vh;
  background: linear-gradient(110deg, #6e887b 50%, #788e81 50%, #becfce  52%, #becfce 52%, #becfce 0);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currencyConverterContent{
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 2rem;
}

.formContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

button{
  background-color: #6e887b;
  border: 1px solid #6e887b;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
} 

button:hover{
  background-color: #82a694;
  border: 1px solid #82a694;
}

.swapBtn{
  padding: 0.7rem 1.5rem;
  position: absolute;
  top: 90px;
}

.convertBtn{
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

