body{
    background-color: black;
    color: white;
}

.btn{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid white;
    background-color: transparent;
    padding: 2rem;
    margin: 1rem 0.25rem;
    align-items: center;
}

.icon{
    height: 3rem;
}

.result{
    font-size: 1.25rem;
}

.reset-btn{
    padding: 0.5rem;
    outline: none;
    border: none;
    background-color: white;
}