hr{
    margin: 2rem 0;
    border: 1px dashed #6f5499;
    width: 50%;
}

.customBox{
    border: 2px solid #6f5499;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    position: relative;
    top: 0;
    right: 200px;
}